/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    height: 3em;
    width: 15em;
    padding: 0px 15px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header ul li a {
    display: inline-block;
    padding: 1em 0px 0px 0px;
}

header ul li a:hover {
    color: #0065FC;
    border-top: 2px solid
}

header>svg,
header>img {
    height: 79px;
    width: 161px;
}

body {
    margin-top: 0;
    display: flex;
    justify-content: center;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Recherche ***********/
form {
    width: 450px;
    max-width: 100%;
    display: flex;
    margin: 15px 0px;
    justify-content: center;
}

.searchbar form .input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.searchbar form .input-group .position {
    border: 0;
    margin: 0px;
    height: 51px;
}

.searchbar form .input-group input.form-control[type="search"] {
    margin: 0px;
    border-radius: 0px;
    border: 1px solid #f2f2f2;
    border-right: 0px;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

.searchbar form .input-group button.btn[type="submit"] {
    margin: 0;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    background-color: #0065FC;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
}

.searchbar form .input-group button.btn[type="submit"]::before {
    content: 'Rechercher';
}

.filterbar {
    flex-wrap: wrap;
    display: flex;
    margin: 20px 0px;
    gap: 1em;

}

.filterbar .filterbuttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.filterbar .filterbuttons button {
    margin: 2px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: 2px solid #f2f2f2;
    background-color: white;
    gap: 5px;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 172px;
}

.filterbar .filterbuttons button:hover {
    background-color: #DEEBFF;
}

.infobar {
    display: block;
    margin: 15px 0px;
    display: flex;
    align-items: center;
    gap: 1rem;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/


.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites {
    background-color: transparent;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.activites-cards {
    margin-top: 33px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.activites-cards a {
    width: 22%;
}

.activites-cards .card {
    display: flex;
    padding: 0;
    flex-direction: column;
    height: 100%;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Footer ***********/

footer {
    background-color: #F2F2F2;
    padding: 25px;
    margin-top: 15px;
}

footer nav {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

footer nav .footer-links {
    width: 30%;
}

footer nav ul {
    padding: 0px;
    margin-top: 0;
    margin-bottom: 18px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

footer nav ul h3 {
    margin-top: 0px;
    margin-bottom: 18px;
}

footer nav ul li {
    margin-bottom: 18px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        margin-top: 50px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hebergements-cards a {
        width: 30%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
    }

    .searchbar form .input-group {
        max-width: 100%;
    }

    header nav {
        width: 100%;
    }

    header ul {
        width: 100%;
        padding: 0;
    }

    header ul li {
        width: 50%;
    }

    header ul li a {
        width: 100%;
        text-align: center;
        padding: 0px 0px 1em 0px;
    }

    header ul li a:hover {
        border-bottom: 2px solid;
        border-top: none;
    }

    .search {
        padding: 0 8px;
    }

    .main-container {
        padding: 5px 0px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .filterbar .filterbuttons {
        gap: 5px;
    }



    .searchbar form .input-group button.btn[type="submit"]::before {
        content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512" ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="white" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>');
        width: 17px;
        height: 17px;
    }

    .searchbar form .input-group button.btn[type="submit"] {
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.4));
        border-radius: 15px;
        transform: translate(-15px, 0);
    }



    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    section.hebergements {
        background-color: white;
    }

    .hebergements-cards {
        flex-direction: column;
        justify-content: space-between;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .populaires-cards {
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-cards {
        gap: 10px;
    }

    .activites-cards {
        margin-top: 33px;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .activites-cards a {
        width: 100%;
    }

    .activites-cards img {
        height: 200px;
    }

    footer nav {
        flex-direction: column;
    }

    footer nav .footer-links {
        width: 100%;
    }

}